

/*  даем какие-то общие стили */
/* тексту еще стили порописать */

/* .welcomeblock_container{

} */

.StyledMain { 
  height: 400px;
  /* max-height: 150px; */
}

h2 {
  font-size: 4rem;
  /* color: #333; */
  /* flex-wrap: nowrap; */
} 

h1 {
  font-size: 2rem;
  /* color: #333; */
  /* flex-wrap: nowrap; */
}

.welcome-Block-block__image {
  /* height: 10px; */
}


.welcome-Block-block__image img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
  z-index: -1;
}

