.form-main-block {
	position: relative;
	z-index: 2;
	display: flex;
  gap:20px;
	/* margin-right: -188px; */
	background:transparent;
}
.form-main-block__input {
	height: 50px;
	/* border: 1px solid #2563eb; */
  border-radius: 999px;
	padding: 0px 0px 0px 74px;
	background-color: #fff;
	width: 100%;
	font-size: 20px;
	flex: 1 1 auto;
}
.form-main-block__input::placeholder{
	color: rgba(49, 53, 59, 0.3);
}
.form-main-block__button {
	height: 50px;
	cursor: no-drop;
	/* width: 188px; */
	/* flex: 0 0 188px;   */
  border-radius: 999px;
	font-weight: 600;
	color: #fff;
	font-size: 17px;
	line-height: 23px;
	letter-spacing: 0.01em;
	padding: 5px 15px;
	transition: all 0.3s ease 0s;
	background-color: #2563eb;
  opacity: .6;
}
.form-main-block__button:hover {
	background-color: #1d4ed8;
}