/* Пример CSS Modules для App */
/* Для проверки работы модульлной си-мы */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 24px;
}
.logoRow {
  display: flex;
  gap: 12px;
  align-items: center;
}
.title {
  font-size: 1.25rem;
  color: #333;
  flex-wrap: nowrap;
}

/* Блок обнуления стилей не забудь добавить */
/* *,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

ul,
ol,
li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

html,
body {
	height: 100%;

}
body {
	line-height: 1;
	font-family: Manrope;
	color: #333333;
} */
